affix-*
archive/*
assets/css/form.css
assets/css/stylebackup.css
assets/js/analyticsfooter.js
assets/js/analytics.js
assets/js/auxillary.js
assets/js/form.js
assets/js/grind.js
assets/js/jquery.collapse.js
assets/js/jquery.serialize-object.min.js
assets/js/jquery.validate.min.js
assets/vid/*
errors/*
footer.html
form/index.html
google*
graphs
map.xml
min
test/*
assets/js/jquery.serialize-object.min.js
assets/js/jquery.validate.min.js
survey/index.html
epidemic/*
google*
footer.html
map.xml
stats/footer.html
ui-demo.mp4
demo.mp4
keybase*
assets/fonts
