.well-known/*
archive/*
assets/css/form.css
assets/css/stylebackup.css
assets/js/analytics.js
assets/js/analyticsfooter.js
assets/js/auxillary.js
assets/js/form.js
assets/js/grind.js
assets/js/jquery.collapse.js
assets/vid/*
calc
epidemic/*
errors/*
form/index.html
graphs
min
routes
stream/index.html
test/*
assets/js/jquery.serialize-object.min.js
assets/js/jquery.validate.min.js
survey/index.html
epidemic/*google*
