.back>ul>a,
.nav>ul>a,
.pulse {
    cursor: pointer
}

body,
li::before {
    font-weight: 400
}

a,
a:hover {
    text-decoration: none
}

.nav,
.title {
    text-transform: uppercase
}

.nav>ul,
.title {
    text-align: center
}

.table__note,
.title__subtitle {
    font-style: italic
}

.cl-effect-1 a::after,
.cl-effect-1 a::before {
    height: 1em;
    display: inline-flex;
    color: rgba(255, 255, 255, 0);
    -webkit-transition: -webkit-transform .3s ease, color .2s ease;
    -moz-transition: -moz-transform .3s ease, color .2s ease;
    transition: transform .3s ease, color .2s ease
}

.cl-effect-1 a::before {
    margin-right: 1vw;
    content: '[';
    -webkit-transform: translateX(2vw);
    -moz-transform: translateX(2vw);
    transform: translateX(2vw)
}

.cl-effect-1 a::after {
    margin-left: 1vw;
    content: ']';
    -webkit-transform: translateX(-2vw);
    -moz-transform: translateX(-2vw);
    transform: translateX(-2vw)
}

.cl-effect-1 a:focus::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:hover::before {
    color: rgba(255, 255, 255, 1);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0)
}

* {
    box-sizing: border-box
}

a {
    color: #8be9fd;
    transition: box-shadow .5s ease;
    margin-bottom: -.05em;
    padding: .1vw;
    box-shadow: 0 .75vh .25vh -.5vh transparent;
    -moz-box-shadow: 0 .75vh .25vh -.5vh transparent;
    -webkit-box-shadow: 0 .75vh .25vh -.5vh transparent
}

a:hover {
    box-shadow: 0 .75vh .25vh -.5vh #8be9fd;
    -moz-box-shadow: 0 .75vh .25vh -.5vh #8be9fd;
    -webkit-box-shadow: 0 .75vh .25vh -.5vh #8be9fd
}

p {
    margin: 10px 0
}

p:first-child {
    margin-top: 0
}

p:last-child {
    margin-bottom: 0
}

ul {
    padding: 0
}

li {
    list-style: none;
    position: relative;
}

li::before {
    content: "+";
    display: block;
    position: absolute;
    left: -15px;
    top: 0;
    color: rgba(255, 255, 255, .5)
}

.back,
.nav {
    position: fixed;
    z-index: 999;
    float: left
}

body {
    margin: 0;
    background: #282a36;
    font-family: 'Roboto Condensed', 'Segoe UI', Arial, sans-serif;
    color: #f8f8f2;
    font-size: 16px;
    padding: 0 20px;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern=1";
    -ms-font-feature-settings: "kern";
    -o-font-feature-settings: "kern";
    -webkit-font-feature-settings: "kern";
    font-feature-settings: "kern"
}

.main {
    max-width: 960px;
    margin: 0 auto
}

.nav {
    width: 100%;
    display: flex;
    left: 0;
    padding: .3vw;
    background: rgba(40, 42, 54, 1);
    font-weight: 700;
    font-size: calc(.3vw + .5vmin);
    will-change: transform;
    transition: transform .2s linear
}

.nav>ul {
    width: 75vw;
    display: block;
    margin-left: 24vw
}

.nav>ul>a {
    color: #fff;
    width: calc(100% / 10);
    float: left;
    padding: .5vw;
    margin: 0;
    transition: all .5s ease
}

.nav>ul>a:nth-child(even) {
    background: rgba(255, 255, 255, .05)
}

.nav>ul>a:active,
.nav>ul>a:hover {
    background: rgba(255, 255, 255, .075);
    text-decoration: none
}

.thisweek,
.table__row:nth-child(even) {
    background: rgba(255, 255, 255, .05)
}

.table__row-us {
    background: rgba(255, 0, 0, .2)
}

.table__row-eu {
    background: rgba(0, 0, 255, .2)
}

.table__row-both {
    background: rgba(0, 0, 0, .5)
}

.nav>ul>a>li::before {
    content: none
}

@media only screen and (max-width:480px) {
    .nav {
        display: none
    }
    .nav:before {
        color: #fff;
        content: '≡'
    }
}

.atf {
    min-height: 100vh
}

.title {
    margin: 0;
    padding: 0;
    line-height: 1.25em
}

.title--small {
    font-weight: 400;
    font-size: 18px
}

.title--left {
    text-align: left
}

#lootcenter,
.arrow,
.link {
    text-align: center
}

.title--medium {
    font-size: 22.5px
}

@media (min-width:640px) {
    .title--medium {
        font-size: 3.5vw
    }
}

@media (min-width:960px) {
    .title--medium {
        font-size: 33.5px
    }
}

.title--large {
    font-size: 32px
}

@media (min-width:640px) {
    .title--large {
        font-size: 5vw
    }
}

@media (min-width:960px) {
    .title--large {
        font-size: 48px
    }
}

.title+.title--medium {
    margin-top: 30px
}

ul+.title--medium {
    margin-top: 60px
}

.title__intro {
    font-family: "Roboto Mono";
    color: rgba(154, 157, 161, 1);
    display: block;
    margin-top: 10px
}

.tagline,
.title__subtitle {
    color: rgba(255, 255, 255, .5);
    font-weight: 300
}

@media (min-width:640px) {
    .title__intro {
        margin-top: 0;
        display: inline;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(154, 157, 161, 1)
    }
}

.title__subtitle {
    display: block;
    font-size: 16px
}

.tagline {
    margin-bottom: 30px;
    text-transform: none
}

.easy,
.hard,
.idk,
.link,
.med {
    font-weight: 700
}

.arrow {
    font-size: 32px;
    margin-top: 15px
}

@media (min-width:640px) {
    .title__subtitle {
        display: inline
    }
    .arrow {
        font-size: 5vw
    }
    .content-block {
        padding: 8vw 0
    }
}

@media (min-width:960px) {
    .arrow {
        font-size: 48px
    }
}

.content-block {
    padding:4vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 1px rgba(255, 255, 255, .15)
}

.content-block--small {
    min-height: 0
}

@media (min-width:640px) {
    .content-block--small {
        padding: 30px 0
    }
}

.link {
    display: inline
}

.text-block {
    max-width: 768px;
    margin: 30px auto
}

.link--large {
    font-size: 5vw
}

.easy {
    color: #50fa7b
}

.med {
    color: #ffb86c
}

.hard {
    color: #ff5555;
}

.idk {
    color: #f8f8f2
}

.affixes-list__note,
.table__head,
.table__note {
    color: rgba(255, 255, 255, .5)
}

.legend {
    margin-top: 30px;
    text-shadow: 0 0 rgba(0, 0, 0, .5)
}

.affixes-block {
    max-width: 768px;
    margin: 0 auto;
    padding: 30px 0
}

.affixes-block__title {
    margin-bottom: 30px
}

.affixes-list {
    margin: 0;
    padding: 0
}

.affixes-list>li>p>span {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2em
}

.affixes-list__item-10,
.affixes-list__item-4-7 {
    list-style: none;
    margin: 1%;
    float: left;
    width: 48%;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .0);
}

.affixes-list__item-10:hover,
.affixes-list__item-4-7:hover {
    border: 2px solid rgba(255, 255, 255, .05);
}

@media only screen and (max-width:480px) {
    .affixes-list__item-10,
    .affixes-list__item-4-7 {
        width: 98%
    }
}

.affixes-list__item-10::before,
.affixes-list__item-4-7::before {
    display: none
}

.affixes-list__item-10:nth-child(odd),
.affixes-list__item-4-7:nth-child(odd) {
    clear: both
}

.affixes-list__item-seasonal {
    list-style: none;
    margin: 1%;
    width: 48%;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .0);
}

.affixes-list__item-seasonal:hover{
    border: 2px solid rgba(255, 255, 255, .05);
}

@media only screen and (max-width:480px) {
    .affixes-list__item-seasonal{
        width: 98%
    }
}

.affixes-list__item-seasonal::before {
    display: none
}

.affixes-list__note {
    font-weight: 400;
    font-style: italic;
    font-size: 16px
}

#useful-stuff ul {
    padding: 0 0 0 15px
}

.table {
    min-width: 100%;
    margin: 30px 0 0;
    border-collapse: collapse;
    border-spacing: 0
}

@media (min-width:640px) {
    .table {
        min-width: 560px
    }
    .table--inline {
        float: left;
        min-width: 320px;
        margin-right: 30px
    }
}

.table__description {
    margin: 30px 0
}

.table__cell {
    padding: 5px 15px
}

.table__cell--head {
    border-bottom: 3px solid rgba(255, 255, 255, .15)
}

#useful-stuff a {
    padding: .01vw
}

.footer {
    max-width: 960px;
    margin: 15px auto;
    display: inline-block;
    position: absolute;
    align-items: center
}

footer {
    font-size: 12px
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none
}

.container {
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

.affixes-list__item-10:hover,
.affixes-list__item-4-7:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
}

.back {
    width: 3em;
    display: flex;
    margin-left: -2vw;
    left: 50%;
    font-weight: 700;
    font-size: calc(1vw + 1vmin);
    text-transform: uppercase
}

.menu-button,
.menu-wrap {
    position: fixed;
    font-size: 1.5em
}

.back>ul>a {
    color: #fff;
    width: 100%;
    float: left
}

.back>ul>a:nth-child(even) {
    background: rgba(255, 255, 255, .05)
}

.back>ul>a:active,
.back>ul>a:hover {
    background: rgba(255, 255, 255, .075);
    text-decoration: none
}

.back>ul>a>li::before {
    content: none
}

.menu-button {
    bottom: 0;
    z-index: 1000;
    margin: 1em;
    padding: 0;
    width: 2.5em;
    height: 2.25em;
    border: none;
    color: #f8f8f2;
    background: 0 0
}

.menu-button span {
    display: none
}

.menu-button:hover {
    opacity: .6
}

.menu-wrap {
    z-index: 999;
    background: #282a36;
    -webkit-transition: width .3s, height .3s;
    transition: width .3s, height .3s;
    width: 0;
    height: 0;
    bottom: 1em;
    left: 1em;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    border: 1px solid #2b2b2b
}

@media screen and (max-width:50em) {
    .menu-button {
        margin: .25em
    }
    .menu-wrap {
        bottom: .25em;
        left: .25em
    }
}

.menu {
    height: 100%;
    opacity: 0;
    font-size: .65em;
    color: #44475a;
    text-align: right
}

.link-list {
    padding: 1.35em 0;
    margin: 0 .75em
}

.link-list a {
    display: block;
    margin: .01em 0;
    color: #7d8194
}

.link-list a:focus,
.link-list a:hover {
    color: #64697d
}

.link-list a span {
    margin-left: 10px;
    font-weight: 700;
    vertical-align: middle
}

.icon-list {
    position: absolute;
    right: 1em;
    bottom: .9em
}

.icon-list a {
    font-size: 1.5em;
    margin-left: .25em;
    color: rgba(125, 129, 148, .5)
}

.show-menu .content::before {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.show-menu .menu-wrap {
    width: 280px;
    height: 340px;
    -webkit-animation: anim-jelly .8s linear forwards;
    animation: anim-jelly .8s linear forwards
}

.show-menu .menu {
    opacity: 1;
    -webkit-transition: opacity .3s .3s;
    transition: opacity .3s .3s
}

@-webkit-keyframes anim-jelly {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    3.333333% {
        -webkit-transform: matrix3d(.32778, 0, 0, 0, 0, .32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.32778, 0, 0, 0, 0, .32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    6.666667% {
        -webkit-transform: matrix3d(.69875, 0, 0, 0, 0, .69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.69875, 0, 0, 0, 0, .69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    10% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    13.333333% {
        -webkit-transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    16.666667% {
        -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    20% {
        -webkit-transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    23.333333% {
        -webkit-transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    26.666667% {
        -webkit-transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    30% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    33.333333% {
        -webkit-transform: matrix3d(.9603, 0, 0, 0, 0, .9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.9603, 0, 0, 0, 0, .9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    36.666667% {
        -webkit-transform: matrix3d(.94663, 0, 0, 0, 0, .94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.94663, 0, 0, 0, 0, .94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    40% {
        -webkit-transform: matrix3d(.95217, 0, 0, 0, 0, .95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.95217, 0, 0, 0, 0, .95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    43.333333% {
        -webkit-transform: matrix3d(.96784, 0, 0, 0, 0, .96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.96784, 0, 0, 0, 0, .96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    46.666667% {
        -webkit-transform: matrix3d(.98559, 0, 0, 0, 0, .98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.98559, 0, 0, 0, 0, .98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    50% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    53.333333% {
        -webkit-transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    56.666667% {
        -webkit-transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    60% {
        -webkit-transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    63.333333% {
        -webkit-transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    66.666667% {
        -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    70% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    73.333333% {
        -webkit-transform: matrix3d(.9981, 0, 0, 0, 0, .9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.9981, 0, 0, 0, 0, .9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    76.666667% {
        -webkit-transform: matrix3d(.99745, 0, 0, 0, 0, .99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99745, 0, 0, 0, 0, .99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    80% {
        -webkit-transform: matrix3d(.99771, 0, 0, 0, 0, .99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99771, 0, 0, 0, 0, .99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    83.333333% {
        -webkit-transform: matrix3d(.99846, 0, 0, 0, 0, .99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99846, 0, 0, 0, 0, .99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    86.666667% {
        -webkit-transform: matrix3d(.99931, 0, 0, 0, 0, .99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99931, 0, 0, 0, 0, .99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    90% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    93.333333% {
        -webkit-transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    96.666667% {
        -webkit-transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
}

@keyframes anim-jelly {
    0% {
        -webkit-transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    3.333333% {
        -webkit-transform: matrix3d(.32778, 0, 0, 0, 0, .32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.32778, 0, 0, 0, 0, .32778, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    6.666667% {
        -webkit-transform: matrix3d(.69875, 0, 0, 0, 0, .69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.69875, 0, 0, 0, 0, .69875, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    10% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    13.333333% {
        -webkit-transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.1815, 0, 0, 0, 0, 1.1815, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    16.666667% {
        -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    20% {
        -webkit-transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.21871, 0, 0, 0, 0, 1.21871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    23.333333% {
        -webkit-transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.14702, 0, 0, 0, 0, 1.14702, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    26.666667% {
        -webkit-transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.06589, 0, 0, 0, 0, 1.06589, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    30% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    33.333333% {
        -webkit-transform: matrix3d(.9603, 0, 0, 0, 0, .9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.9603, 0, 0, 0, 0, .9603, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    36.666667% {
        -webkit-transform: matrix3d(.94663, 0, 0, 0, 0, .94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.94663, 0, 0, 0, 0, .94663, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    40% {
        -webkit-transform: matrix3d(.95217, 0, 0, 0, 0, .95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.95217, 0, 0, 0, 0, .95217, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    43.333333% {
        -webkit-transform: matrix3d(.96784, 0, 0, 0, 0, .96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.96784, 0, 0, 0, 0, .96784, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    46.666667% {
        -webkit-transform: matrix3d(.98559, 0, 0, 0, 0, .98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.98559, 0, 0, 0, 0, .98559, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    50% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    53.333333% {
        -webkit-transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00868, 0, 0, 0, 0, 1.00868, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    56.666667% {
        -webkit-transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.01167, 0, 0, 0, 0, 1.01167, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    60% {
        -webkit-transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.01046, 0, 0, 0, 0, 1.01046, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    63.333333% {
        -webkit-transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00703, 0, 0, 0, 0, 1.00703, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    66.666667% {
        -webkit-transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00315, 0, 0, 0, 0, 1.00315, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    70% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    73.333333% {
        -webkit-transform: matrix3d(.9981, 0, 0, 0, 0, .9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.9981, 0, 0, 0, 0, .9981, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    76.666667% {
        -webkit-transform: matrix3d(.99745, 0, 0, 0, 0, .99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99745, 0, 0, 0, 0, .99745, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    80% {
        -webkit-transform: matrix3d(.99771, 0, 0, 0, 0, .99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99771, 0, 0, 0, 0, .99771, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    83.333333% {
        -webkit-transform: matrix3d(.99846, 0, 0, 0, 0, .99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99846, 0, 0, 0, 0, .99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    86.666667% {
        -webkit-transform: matrix3d(.99931, 0, 0, 0, 0, .99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(.99931, 0, 0, 0, 0, .99931, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    90% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    93.333333% {
        -webkit-transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00042, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    96.666667% {
        -webkit-transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1.00056, 0, 0, 0, 0, 1.00056, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
    100% {
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)
    }
}

.pulse {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 0 0 rgba(255, 255, 255, .4);
    animation: pulse 2s infinite
}

.pulse:hover {
    animation: none
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .4)
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0)
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .4);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .4)
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0)
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0)
    }
}

#patreon{
    overflow: hidden;
    display: block
}

#patreon>* {
    z-index: 1;
    top: 0
}

#patreon>canvas {
    z-index: -1;
    position: absolute;
    left: 0
}

#patreon,
#patreon>* {
    position: relative
}

ul.affixes-list li {
    padding: 14px;
}

.thisweek {
    border: 2px solid rgba(255, 255, 255, .05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22)
}

.thisweek:hover {
    border: 2px solid rgba(255, 255, 255, .08);
}

.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}

.ribbon span {
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79A70A;
    background: linear-gradient(#9BC90D 0%, #79A70A 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}

.ribbon span::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.ribbon span::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 100%;
    z-index: -1;
    border-right: 3px solid #79A70A;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}

.red span {
    background: linear-gradient(#FF9800 0%, #ae6100 100%);
}

.red span::before {
    border-left-color: #ae6100;
    border-top-color: #ae6100;
}

.red span::after {
    border-right-color: #ae6100;
    border-top-color: #ae6100;
}

.blue span {
    background: linear-gradient(#2989d8 0%, #1e5799 100%);
}

.blue span::before {
    border-left-color: #1e5799;
    border-top-color: #1e5799;
}

.blue span::after {
    border-right-color: #1e5799;
    border-top-color: #1e5799;
}
.green span {
    background: linear-gradient(#3fb753 0%, #359945 100%);
}

.green span::before {
    border-left-color: #359945;
    border-top-color: #359945;
}

.green span::after {
    border-right-color: #359945;
    border-top-color: #359945;
}

.rad {
  font-size: 32px;
  background: -webkit-linear-gradient(#ff79c6, #8be9fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dead {
    font-size: 32px;
    background: -webkit-linear-gradient(#ff5555, #111);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}