
.title--large--stats {
	font-size: 48px;
	text-align: center;
}
.stats-list__item{
	list-style: none;
	padding: 1.5%;
	margin: 1%;
	float: left;
}

.stats-list__item{
	width: 48%;
}
.stats-list__item::before{
	display: none;
}

.stats-list__item:nth-child(odd){
	clear: both;
}

.stats-list__item:nth-child(1),
.stats-list__item:nth-child(4){
}

.chart{
	margin-top: 50px;
	margin-bottom: -100px;
	width: 50%!important;
	height: 50%!important;
	justify-content: center;
	margin-left: 25%;
}

.stat-color{
color:#29B6F6;
}