/* EFFECTS */

/* Effect 1: Brackets */

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	height: 1em;
	display: inline-flex;
	color: rgba(255, 255, 255, 0);
	-webkit-transition: -webkit-transform 0.3s ease, color 0.2s ease;
	-moz-transition: -moz-transform 0.3s ease, color 0.2s ease;
	transition: transform 0.3s ease, color 0.2s ease;
}

.cl-effect-1 a::before {
	margin-right: 1vw;
	content: '[';
	-webkit-transform: translateX(2vw);
	-moz-transform: translateX(2vw);
	transform: translateX(2vw);
}

.cl-effect-1 a::after {
	margin-left: 1vw;
	content: ']';
	-webkit-transform: translateX(-2vw);
	-moz-transform: translateX(-2vw);
	transform: translateX(-2vw);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	color: rgba(255, 255, 255, 1);
	-webkit-transform: translateX(0vw);
	-moz-transform: translateX(0vw);
	transform: translateX(0vw);
}

/* GENERAL ITEMS */

* {
	box-sizing: border-box
}

a {
	color: #3f89ff;
	text-decoration: none;
	transition: box-shadow 0.5s ease;
	margin-bottom: -0.05em;
	padding: 0.1vw;
	box-shadow: 0 0.75vh 0.25vh -0.5vh transparent;
	-moz-box-shadow: 0 0.75vh 0.25vh -0.5vh transparent;
	-webkit-box-shadow: 0 0.75vh 0.25vh -0.5vh transparent;
}

a:hover {
	text-decoration: none;
	box-shadow: 0 0.75vh 0.25vh -0.5vh #3f89ff;
	-moz-box-shadow: 0 0.75vh 0.25vh -0.5vh #3f89ff;
	-webkit-box-shadow: 0 0.75vh 0.25vh -0.5vh #3f89ff;
}

p {
	margin: 10px 0
}

p:first-child {
	margin-top: 0
}

p:last-child {
	margin-bottom: 0
}

ul {
	padding: 0 0 0 0px
}

li {
	list-style: none;
	position: relative
}

li::before {
	content: "-";
	display: block;
	position: absolute;
	left: -15px;
	top: 0;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.5)
}

body {
	margin: 0;
	background: #373c44;
	font-family: 'Roboto Condensed';
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	padding: 0 20px;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-ms-font-feature-settings: "kern";
	-o-font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern"; 
	font-feature-settings: "kern";
}

.main {
	max-width: 960px;
	margin: 0 auto
}

/* NAVIGATION */

.nav {
	font-weight: 400;
	width: inherit;
	float: left;
	display: flex;
	position: fixed;
	z-index: 999;
	left: 50%;
	margin-left: -27.5vw;
	padding: .3vw;
	background: rgba(55, 60, 68, 1);
	font-weight: 700;
	font-size: calc(.5vw + .5vmin);
	text-transform: uppercase;
	will-change: transform;
    transition: transform 200ms linear;
}

.nav > ul {
	width: 75vw;
	display: block;
	text-align: center;
}

.nav > ul > a {
	color: #fff;
	width: calc(100% / 10);
	float: left;
	padding: 0.5vw;
	cursor: pointer;
	margin: 0;
	transition: all 0.5s ease;
}

.nav > ul > a:nth-child(even) {
	background: rgba(255, 255, 255, 0.05);
}

.nav > ul > a:hover,
.nav > ul > a:active {
	background: rgba(255, 255, 255, 0.075);
	text-decoration: none;
}

.nav > ul > a > li::before {
	content: none;
}

@media only screen
    and (max-width: 480px) {
        .nav {
            display: none;
        }
        .nav:before { 
            color: #fff;
            content:'&#x2261;'; 
        } 
}

.atf {
	min-height: 100vh;
}

.title {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	line-height: 1.25em;
}

.title--small {
	font-weight: 400;
	font-size: 18px
}

.title--left {
	text-align: left
}

.title--medium {
	font-size: 22.5px
}

@media (min-width: 640px) {
	.title--medium {
		font-size: 3.5vw
	}
}

@media (min-width: 960px) {
	.title--medium {
		font-size: 33.5px
	}
}

.title--large {
	font-size: 32px
}

@media (min-width: 640px) {
	.title--large {
		font-size: 5vw
	}
}

@media (min-width: 960px) {
	.title--large {
		font-size: 48px
	}
}

.title + .title--medium {
	margin-top: 30px
}

ul + .title--medium {
	margin-top: 60px
}

.title__intro {
	font-family: "Roboto Mono";
	color: rgba(154, 157, 161, 1);
	display: block;
	margin-top: 10px
}

@media (min-width: 640px) {
	.title__intro {
		margin-top: 0;
		display: inline;
		margin-right: 10px;
		padding-right: 10px;
		border-right: 1px solid rgba(154, 157, 161, 1)
	}
}

.title__subtitle {
	display: block;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
	font-weight: 300
}

@media (min-width: 640px) {
	.title__subtitle {
		display: inline
	}
}

.tagline {
	margin-bottom: 30px;
	text-transform: none;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 300;
}

.arrow {
	font-size: 32px;
	text-align: center;
	margin-top: 15px
}

@media (min-width: 640px) {
	.arrow {
		font-size: 5vw
	}
}

@media (min-width: 960px) {
	.arrow {
		font-size: 48px
	}
}

.content-block {
	padding: 8vw 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0 1px rgba(255, 255, 255, 0.15)
}

@media (min-width: 640px) {
	.content-block {
		padding: 8vw 0
	}
}

.content-block--small {
	min-height: 0
}

@media (min-width: 640px) {
	.content-block--small {
		padding: 30px 0
	}
}

.link {
	font-weight: 700;
	display: inline;
	text-align: center
}

.text-block {
	max-width: 768px;
	margin: 30px auto
}

.link--large {
	font-size: 5vw
}

.easy, .med, .hard {
	font-weight: 700;
}

.easy {
	color: #4CAF50;
}

.med {
	color: #FF9800;
}

.hard {
	color: #D50000;
	text-shadow: 1px 0 rgba(0, 0, 0, 0.5);
}

.legend {
	margin-top: 30px;
	text-shadow: 0 0 rgba(0, 0, 0, 0.5);
}

.affixes-block {
	max-width: 768px;
	margin: 0 auto;
	padding: 30px 0
}

.affixes-block__title {
	margin-bottom: 30px
}

.affixes-list {
	margin: 0;
	padding: 0
}

.affixes-list > li > p > span {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 2em;
}

.affixes-list__item-4-7,
.affixes-list__item-10 {
	list-style: none;
	padding: 1.5%;
	margin: 1%;
	float: left;
}

.affixes-list__item-4-7,
.affixes-list__item-10 {
	width: 48%;
}

@media only screen
	and (max-width: 480px) {
		.affixes-list__item-4-7,
		.affixes-list__item-10 {
			width: 98%;
		}
}

.affixes-list__item-4-7::before,
.affixes-list__item-10::before {
	display: none;
}

.affixes-list__item-4-7:nth-child(odd),
.affixes-list__item-10:nth-child(odd) {
	clear: both;
}

.affixes-list__item-4-7:nth-child(1),
.affixes-list__item-10:nth-child(1),
.affixes-list__item-4-7:nth-child(4),
.affixes-list__item-10:nth-child(4) {
	background: rgba(255, 255, 255, 0.05);
}

.affixes-list__note {
	color: rgba(255, 255, 255, 0.5);
	font-weight:400;
	font-style: italic;
	font-size: 16px
}

#useful-stuff ul {
	padding: 0 0 0 15px
}

.table {
	min-width: 100%;
	margin: 30px 0 0;
	border-collapse:collapse;
	border-spacing:0;
}

@media (min-width: 640px) {
	.table {
		min-width: 560px
	}
}

@media (min-width: 640px) {
	.table--inline {
		float: left;
		min-width: 320px;
		margin-right: 30px
	}
}

.table__description {
	margin: 30px 0
}

.table__head {
	color: rgba(255, 255, 255, 0.5)
}

.table__cell {
	padding: 5px 15px
}

.table__note {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic
}

.table__cell--head {
	border-bottom: 3px solid rgba(255, 255, 255, 0.15)
}

.table__row:nth-child(even) {
	background: rgba(255, 255, 255, 0.05)
}

#useful-stuff a {
	padding: 0.01vw;
}

.footer {
	max-width: 960px;
	margin: 15px auto;
	display: inline-block;
	position: absolute;
	align-items: center;

}

footer {
	font-size: 10px;
}
#lootcenter {
	text-align: center;
}

.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}