html {
    font-size: 12px
}

* {
    box-sizing: border-box;
    text-rendering: geometricPrecision
}

body {
    font-size: 1rem;
    margin: 0;
    background: #373c44;
    font-family: 'Roboto Condensed';
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0
}

pre {
    padding: 2rem;
    margin: 1.75rem 0;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto
}

code[class*=language-],
pre[class*=language-],
pre code {
    font-weight: 100;
    text-shadow: none;
    margin: 1.75rem 0
}

a {
    cursor: pointer;
    color: #3f89ff;
    text-decoration: none;
    border-bottom: 1px solid #3f89ff
}

a:hover {
    background-color: #3f89ff;
    color: #fff
}



@media (max-width:768px) {
    .grid {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .cell {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

@-moz-document url-prefix() {
    .hack h1 {
        display: block
    }
}

p {
    margin: 0 0 1.75rem
}

.container {
    max-width: 75rem
}

.container,
.container-fluid {
    margin: 0 auto;
    padding: 0 1rem
}

.inner {
    padding: 1rem
}

.inner2x {
    padding: 2rem
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.affixes {
	margin-bottom: 9.5em;
	font-size: 3.25em!important;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 900;
}

.title {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 10em;
}