html {
    font-size: 12px
}

* {
    box-sizing: border-box;
    text-rendering: geometricPrecision
}

body {
    font-size: 1rem;
    margin: 0;
    background: #373c44;
    font-family: 'Roboto Condensed';
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0
}

pre {
    padding: 2rem;
    margin: 1.75rem 0;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: auto
}

code[class*=language-],
pre[class*=language-],
pre code {
    font-weight: 100;
    text-shadow: none;
    margin: 1.75rem 0
}

a {
    cursor: pointer;
    color: #3f89ff;
    text-decoration: none;
    border-bottom: 1px solid #3f89ff
}

a:hover {
    background-color: #3f89ff;
    color: #fff
}

.grid {
    display: -ms-flexbox;
    display: flex
}

.grid.\-top {
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}

.grid.\-middle {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}

.grid.\-bottom {
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}

.grid.\-stretch {
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch
}

.grid.\-baseline {
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline
}

.grid.\-left {
    -ms-flex-pack: start;
    justify-content: flex-start
}

.grid.\-center {
    -ms-flex-pack: center;
    justify-content: center
}

.grid.\-right {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.grid.\-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.grid.\-around {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.cell {
    -ms-flex: 1;
    flex: 1;
    box-sizing: border-box
}

.cell.\-1of12 {
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%
}

.cell.\-2of12 {
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%
}

.cell.\-3of12 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%
}

.cell.\-4of12 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%
}

.cell.\-5of12 {
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%
}

.cell.\-6of12 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%
}

.cell.\-7of12 {
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%
}

.cell.\-8of12 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%
}

.cell.\-9of12 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%
}

.cell.\-10of12 {
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%
}

.cell.\-11of12 {
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%
}

@media (max-width:768px) {
    .grid {
        -ms-flex-direction: column;
        flex-direction: column
    }
    .cell {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }
}

@-moz-document url-prefix() {
    .hack h1 {
        display: block
    }
}

.hack-ones ol>li:after {
    content: "1."
}

p {
    margin: 0 0 1.75rem
}

.container {
    max-width: 75rem
}

.container,
.container-fluid {
    margin: 0 auto;
    padding: 0 1rem
}

.inner {
    padding: 1rem
}

.inner2x {
    padding: 2rem
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.affixes {
	margin-bottom: 9.5em;
	font-size: 3.25em!important;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	font-weight: 900;
}

.title {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 10em;
}