name: Trigger Netlify Build
on:
  schedule:
    - cron: '*/30 15-19 * * TUE'
    - cron: '*/30 7-10 * * WED'
jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    env:
        HOOK: ${{ secrets.NETLIFY_BUILD_HOOK }}
    steps:
    - name: Curl request
      run: curl -X POST -d {} "$HOOK"
